.rating {
    display: flex;
    align-items: center;
  }
  
  .stars {
    display: flex;
  }
  
  .numeric-rating {
    margin-left: 5px; /* Add margin for spacing between stars and numeric rating */
  }
  