.photo{
    border-radius: 10px;
    border-color: brown;
    border: 1px solid #b37979
}

.bg{
   background-color: #FDF8F1 !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    
}
.bg:hover{
   
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    
}
.color{
  background-color: yellow;
  display: inline-block;
  align-items: center;
}

@media (max-width: 768px) {
   
    .chef-photo {
      width: auto !important;
      height: auto !important;
      
    
    }
  
  }

  .chef-photo{
    object-fit: cover;
    object-position: top;
  }